.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
   
}

.checkout_ads{
    width:100%;
    object-fit:contain;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
@media(max-width:760px){
.checkout{
    width: 100%;
}
.checkout_left{
    width: 50%;
}
.checkout_right{
    width:50%;
}
}
@media(max-width:650px){
.checkout_left{
    width: 50%;
}
.checkout_right{
    width:50%;
}
}
@media(max-width:520px){
    .checkout_title{
        white-space:nowrap;
        font-size: 3.3vw;
        padding: 1rem 0rem;
    } 
  
}