*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
:root{
  --main:red;
}
::selection{
  background: var(--main);
  color:black;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: yellowgreen;
}
::-webkit-scrollbar-track{
  background: #000;
}
