.second_header{
    width: 100%;
    overflow: hidden;
    margin:40px auto;
}
.second_header>img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
@media(max-width:400px){
    .second_header>img {
      object-fit: contain;
      height: 30vh;
    }
  
       
}