.payment{
    background-color: white;

}
.payment>h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
}
.payment>h1>a{
    text-decoration: none;
}
.payment_section{
    display: flex;
    padding: 20px;
    margin:0 20px;
    border-bottom: 1px solid lightgray;
}
.payment_title{
    flex:0.2;
}
.delivery_details,.items,.payment_details{
    flex:0.8;
}

.payment_details>form{
    max-width: 400px;
}
.payment_title>h4{
    padding-bottom: 20px;
    color:white;
    background-color: black;
    position: relative;
    right:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment_details>form>div>button{
background-color: #f0d74b;
width:20%;
font-weight: 800;
padding:10px 0;
border-radius: 5px;
margin:20px 0;
border:1px solid black;
cursor: pointer;
border-color:#a88734 #9c7e31 #846a29;
color:#111;

}
